<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbenhvienlocal">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBenhVienLocal">
        <activity
            android:name=".QRCode_Bhyt"
            android:exported="true" >

        </activity>
        <activity
            android:name=".NhapMkMoi"
            android:exported="true" />
        <activity
            android:name=".ManHinhDangKy"
            android:exported="true">

        </activity>
        <activity
            android:name=".QuenMatKhau"
            android:exported="true" />
        <activity
            android:name=".ManHinhThongBao"
            android:exported="true" />
        <activity
            android:name=".LoginScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManHinhNhapPassWord"
            android:exported="true" >

        </activity>
        <activity
            android:name=".QuanLyHoSo"
            android:exported="true">

        </activity>
        <activity
            android:name=".PhieuKhamBenhDaThanhToan"
            android:exported="true" />
        <activity
            android:name=".KhaiBaoYTe"
            android:exported="true"></activity>
        <activity
            android:name=".PhieuKhamBenh"
            android:exported="true" />
        <activity
            android:name=".ChonPhuongThucTT"
            android:exported="true" />
        <activity
            android:name=".DanhSachPhieuKhamScreen"
            android:exported="true" />
        <activity
            android:name=".XacNhanThongTin"
            android:exported="true" />
        <activity
            android:name=".HoSoDatKham"
            android:exported="true">

        </activity>
        <activity
            android:name=".ChonNgayKham"
            android:exported="true">

        </activity>
        <activity
            android:name=".VuiLongChonGiokham"
            android:exported="true">

        </activity>
        <activity
            android:name=".VuiLongChonDichVu"
            android:exported="true" />
        <activity
            android:name=".VuiLongChonChuyenKhoa"
            android:exported="true" />
        <activity
            android:name=".ChonThongTinKham"
            android:exported="true">

        </activity>
        <activity
            android:name=".screen_faq"
            android:exported="true" />
        <activity
            android:name=".screen_quydinh"
            android:exported="true" />
        <activity
            android:name=".screen_dieukhoan"
            android:exported="true" />
        <activity
            android:name=".screen_thongbao"
            android:exported="true" />
        <activity
            android:name=".screen_thongtinthanhtoan"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".OTPScreen"
            android:exported="true" >

        </activity>
        <activity
            android:name=".screen_hoso_moi"
            android:exported="true">

        </activity>
        <activity
            android:name=".screen_phieukham"
            android:exported="true" />
        <activity
            android:name=".screen_chuatungkham"
            android:exported="true">

        </activity>
        <activity
            android:name=".screen_datungkham"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GoiYTimMaBHYT"
            android:exported="true" />
        <activity
            android:name=".Fill_Infor_Screen"
            android:exported="true" />
    </application>

</manifest>