<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbenhvienlocal">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBenhVienLocal">
        <activity
            android:name=".screen_faq"
            android:exported="true" />
        <activity
            android:name=".screen_quydinh"
            android:exported="true" />
        <activity
            android:name=".screen_dieukhoan"
            android:exported="true" />
        <activity
            android:name=".screen_thongbao"
            android:exported="true" />
        <activity
            android:name=".screen_thongtinthanhtoan"
            android:exported="true" />
        <activity
            android:name=".screen_hoso_moi"
            android:exported="true" />
        <activity
            android:name=".screen_phieukham"
            android:exported="true" />
        <activity
            android:name=".screen_chuatungkham"
            android:exported="true">

        </activity>
        <activity
            android:name=".screen_datungkham"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>